body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: radial-gradient(circle at top, rgb(31, 1, 65), rgba(0, 0, 0, 0.8)), radial-gradient(circle at center, rgb(0, 0, 0), rgb(0, 0, 0));
    height: 100vh;
    justify-content: center;
    align-items: center;
}

